.logo{
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.logo img{
    width: 40px;
    margin-right: 10px;
}