.SidebarMin{
    position: fixed;
    width: 50px;
    height: 100%;
    background-color:#370F69;
    color: #fff;
}

.SidebarMin ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.SidebarMin ul .li{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.SidebarMin ul .li:hover{
    background-color: #310e5c;
}

.SidebarMin ul.side-footer{
    position: absolute;
    bottom: 0;
}

.Side-aux{
    width: 50px;
    height: 100%;
}