.usr-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.usr-main:hover{
    scale: 1.05;
    transition: 0.5s;
    cursor: pointer;
}

.name{

}

.picture{
    border: 1px solid white;
    border-radius: 100%;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-left: 15px;
}