.help{
    display: flex;
    flex-direction: row;
    width: calc(100% - 50px);
    height: 100%;
    box-sizing: border-box;
}

.help .helpBox{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    margin: 60px auto 0px auto;
    background: rgba(55, 15, 105, 0.44);
    border-radius: 8px;
    z-index: 9;
}