.home{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;

}

.home header{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 140px;
    width: 100%;
}

.home main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 600px;
    padding-bottom: 10px;
}

.home main .w50{
    width: calc(50% - 10px);
    height: 100%;
}