.main{
    display: flex;
    position: relative;
    width: 100%;
    color: #fff;
}

.main .home-main{
    width: calc(100% - 50px);
    height: 100%;
}

.account:hover{
    scale: 1.05;
    transition: 0.5s;
}

