.tasks{
    width: 100%;
    height: 100%;
}

.tasks header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tasks .menu_tipo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px; 
    height: 40px;
    border-radius: 5px;
    background-color: #191e1f;
}

.tasks .menu_tipo .tipo{
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    border-radius: 12px;
    background-color: #370F69;
    cursor: pointer;
    user-select: none;
}
.tasks .menu_tipo .tipo:hover{
    filter: brightness(0.9);
}

.tasks main{
    width: 100%;

    height: calc(100% - 80px);}

.tasks main h3{
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: normal;
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.tasks .container_cards{
    min-width: 100%;
    height: calc(100% - 50px);
    overflow-x: auto; /* Adiciona rolagem horizontal automática quando necessário */
    white-space: nowrap;
    padding: 10px;
}

.tasks .card{
    display: inline-block;
    width: 300px;
    min-height: 300px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #191e1f;
}

.tasks .card h3{
    font-size: 14px;
    padding: 0 10px;
}

.tasks button{
    font-size: 14px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    background-color: #191e1f;
    border: none;
    margin-left: 5px;
    -webkit-box-shadow: -1px 1px 1px 0.5px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 1px 2px 0.5px rgba(0,0,0,0.5);
    box-shadow: -1px 1px 2px 0.5px rgba(0,0,0,0.5);
    cursor: pointer;
}
.tasks button .aux{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tasks button:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: brightness(0.85);
}

.tasks button .icon{
    font-size: 20px;
}

.tasks ul{
    width: 100%;
    padding: 0 5px;
    background-color: #370F69;
    list-style: none;
}

.tasks ul li{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background-color: aqua;
}