.login-logout{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.login-logout .form{
    width: 100%;
    max-width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #212121;
    border: 1px solid rgb(56, 56, 56);
}

.login-logout .form h1{
    font-size: 26px;
    margin-bottom: 20px;
    color: #fff;
}


.login-logout .form p.error{
    color: red;
}

.login-logout .form span{
    color: #fff;
}

.login-logout .form .link{
    color: #007aff;
}

.login-logout .form .link:hover{
    color: #006bde;
}

