.Home{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    
}

.Home .home-main{
    width: calc(100% - 50px);
    bottom: 0;
}

.home-main .mprojects{
    position: absolute;
    bottom: 0;
    width: 912px;
    height: 750px;
    flex-shrink: 1;
    border-radius: 8px 8px 0px 0px;
    margin-left: 30px;
    margin-top: 330px;
    bottom: 0;
    background: rgba(55, 15, 105, 0.44);
}

.home-main .progress{
    position: relative;
    width: 518px;
    height: 405px;
    flex-shrink: 1;
    margin-left: 997px;
    margin-top: 330px;
    margin-bottom: 345px;
    border-radius: 8px;
    background: rgba(55, 15, 105, 0.44);
}