*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #0e0211;
  display: flex;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

/* Estilização para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #370F69; /* Cor da "thumb" (a parte móvel da barra de rolagem) */
  border-radius: 5px; /* Borda arredondada da "thumb" */
}

/* Estilização para Internet Explorer */
::-ms-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  height: 10px;
}

::-ms-thumb {
  background-color: #370F69; /* Cor da "thumb" */
  border-radius: 5px; /* Borda arredondada da "thumb" */
}

/* Estilização para navegadores WebKit e Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #370F69 #f0f0f000;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #370F69;
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f000;
}